absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
DateTime
dlib
dnspython
face-recognition
face-recognition-models
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mtcnn
namex
narwhals
numpy
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
zope.interface